<div class="landing-container">
  <div class="left-column">
    <!-- Fondo animado para mobile -->
    <div class="mobile-background">
      <div class="animated-gradient"></div>
      <div class="floating-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
      </div>
    </div>

    <div class="left-content">
      <h1>
        Planificá. Organizá. Despegá.<br>
        <span class="subheading">Todo con <span class="brand">ShiftWise</span></span>
      </h1>

      <p>
        Simplificá la gestión de tus jornadas laborales. Hacelo todo desde un solo lugar, de forma rápida, moderna y sin
        complicaciones.
      </p>

      <button routerLink="/login"  type="button" class="start-button">Comenzar</button>
    </div>
  </div>

  <div class="right-column">
    <img src="homepageimage.png" alt="home image" class="image">
  </div>
</div>
