<div class="page-content">
  <h1 class="page-title">Crear Jornada</h1>

  <div class="container">
    <h1 class="container-heading"></h1>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="idUser">
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{ user.nombre }} {{ user.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="idConcepto">
          <mat-option *ngFor="let concept of concepts" [value]="concept.id">
            {{ concept.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput formControlName="fecha" [matDatepicker]="picker1" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Horas Trabajadas</mat-label>
        <input matInput formControlName="horasTrabajadas" />
      </mat-form-field>
    </form>
  </div>

  <div class="btns">
    <button mat-button class="btn-volver" type="button" (click)="volver()">Volver</button>
    <button mat-button class="btn-secondary" type="button" type="button" (click)="onCancel()">Cancelar</button>
    <button mat-button class="btn-primary" [disabled]="!form.valid" type="submit" (click)="onSubmit()">Guardar</button>
  </div>
</div>
