<div class="user-container">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form">

        <div class="form-photo-wrapper">
          <div class="left-column form-section">
            <!-- Nombre -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ]+(?:\s[a-zA-ZáéíóúÁÉÍÓÚñÑ]+)*$" />
              <mat-error *ngIf="form.get('nombre')?.hasError('pattern')">
                Solo se permiten letras en el campo nombre.
              </mat-error>
            </mat-form-field>

            <!-- Apellido -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido"
                pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ]+(?:\s[a-zA-ZáéíóúÁÉÍÓÚñÑ]+)*$" />
              <mat-error *ngIf="form.get('apellido')?.hasError('pattern')">
                Solo se permiten letras en el campo apellido.
              </mat-error>
            </mat-form-field>

            <!-- Número de Documento -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Número de Documento</mat-label>
              <input matInput formControlName="nroDocumento" type="number"
                (keydown)="onDocumentNumberKeyDown($event)" />
            </mat-form-field>

            <!-- Email -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" />
              <mat-error *ngIf="form.get('email')?.hasError('email')">
                El email ingresado no es correcto.
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <!-- Fecha de Nacimiento -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input [max]="today" matInput [matDatepicker]="picker" formControlName="fechaNacimiento" />
              <mat-datepicker-toggle matIconSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="form.get('fechaNacimiento')?.invalid">
                {{ getFormControlErrorMessage("fechaNacimiento") }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="right-column form-section">
            <!-- Fecha de Ingreso -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Fecha de Ingreso</mat-label>
              <input matInput [matDatepicker]="pickerIngreso" formControlName="fechaIngreso" />
              <mat-datepicker-toggle matIconSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
              <mat-datepicker #pickerIngreso></mat-datepicker>
            </mat-form-field>

            <!-- Contraseña -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" type="password" />
              <mat-error *ngIf="form.get('password')?.hasError('required')">
                La contraseña es requerida.
              </mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('minlength')">
                La contraseña debe tener al menos 8 caracteres, incluir al menos una mayúscula y un número.
              </mat-error>
            </mat-form-field>

            <!-- Foto de Perfil -->
            <div class="photo-section-container">
              <div class="photo-section">
                <label class="photo-label">Foto de Perfil</label>
                <div class="photo-preview" *ngIf="selectedFileUrl">
                  <img [src]="selectedFileUrl" alt="Foto seleccionada" />
                </div>
                <button *ngIf="!selectedFileUrl" mat-stroked-button type="button" (click)="fileInput.click()">
                  <mat-icon>cloud_upload</mat-icon>
                  <span>Subir foto</span>
                </button>
                <input #fileInput type="file" style="display: none" accept="image/*"
                  (change)="onFileSelected($event)" />
              </div>
            </div>
          </div>
        </div>
      </form>


      <!-- Sección inferior: botón y texto centrados -->
      <div class="bottom-section">
        <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" class="login-button">
          <mat-icon>how_to_reg</mat-icon>
          <span>Registrarse</span>
        </button>

        <div class="register-section">
          <span>¿Ya sos usuario? </span>
          <a routerLink="/login" class="register-link">Inicia sesión</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
