<mat-toolbar>
    <mat-toolbar-row>
        <span class="title" routerLink="/">
            <span>ShiftWise</span>
        </span>

        <span class="spacer"></span>

        <div class="auth-buttons">
            <button mat-button class="login-btn" [routerLink]="['/' + appRoutes.LOGIN]">
                <mat-icon>login</mat-icon>
                <span class="button-text">Iniciar Sesión</span>
            </button>
            <button mat-raised-button class="register-btn" [routerLink]="['/' + appRoutes.NEW_USER]">
                <mat-icon>person_add</mat-icon>
                <span class="button-text">Registrarse</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>