html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; }

body { 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
    }

:root {
    --color-principal: #0c2a55;
    --primary-button-bg: #26a69a;
    --secondary-button-bg: #ef5350;
}

@media (max-width: 600px) {
    body {
        padding-top: 56px;
    }
}