* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
     font-family: Roboto, "Helvetica Neue", sans-serif;
    }

:root {
    --color-principal: #0c2a55;
    --primary-button-bg: #26a69a;
    --secondary-button-bg: #ef5350;
}

.page {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 600px) {
    body {
        padding-top: 56px;
    }
}

.toast-success {
  background-color: #009688 !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 12px rgba(0, 128, 0, 0.3) !important;
}

.toast-error {
  background-color: var(--secondary-button-bg) !important;
  color: white !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 12px rgba(139, 0, 0, 0.4) !important;
}

.toast-warning {
  background-color: #ffee58;
  color: black;
  font-size: 16px;
}

.btns {
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.btn-primary {
  background-color: var(--primary-button-bg) !important;
  color: white !important;
  width: 100px;
  font-size: 17px;
  padding: 4px 9px;
}

.btn-secondary {
  width: 100px;
  background-color: var(--secondary-button-bg) !important;
  color: white !important;
  width: 100px;
  font-size: 17px;
  padding: 4px 9px;
}

.btns button {
  margin: 0 10px;
}
