.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: var(--color-principal);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Para evitar que el contenido quede detrás del footer */
:host ::ng-deep .mat-sidenav-content {
    padding-bottom: 64px;
}

/* Si necesitas ajustar el texto dentro del footer */
.text {
    text-align: center;
}